/* addrecordforms.css */

/* Container styling */
.addrecord-form-container {
    color: azure;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(24, 77, 104, 0.8); /* Adjust the opacity (0.8 in this case) */
    background: linear-gradient(135deg, rgba(24,78,104,0.8) 65%, rgba(87,202,133,1) 98%); /* Ensure gradient also has same opacity */
  }
  
    
    /* Heading styling */
    .addrecord-form-container h2 {
      margin-bottom: 20px;
    }
    
    /* Label styling */
    .addrecord-form-container label {
      display: block;
      margin-bottom: 5px;
    }
    
    /* Input field styling */
    .addrecord-form-container input[type="text"],
    .addrecord-form-container input[type="number"] {
      width: calc(100% - 12px);
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    /* Button styling */
    .addrecord-form-container button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      font-family: "Montserrat";
    }
    
    .addrecord-form-container button[type="submit"]:hover {
      font-family: "Montserrat";
      background-color: #0056b3;
    }
    
    .myBackground{
      background: url(../../images/medicines.jpg);
      background-size: cover; /* Cover the entire container */
      background-position: center; /* Center the background image */
      height: calc(100vh - 60px); /* Set height to fill the viewport minus the height of the navbar */
      margin-top: 0; /* Remove any existing top margin */
      padding-top: 60px; /* Add padding to compensate for the navbar height */
      color: whitesmoke; /* Set text color to white */
    }