/* SignupForm.module.css */
/* SignupPage.module.css */

.backgroundsignup {
    background: url(../../images/doctors3.jpg);
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    height: calc(100vh - 60px); /* Set height to fill the viewport minus the height of the navbar */
    margin-top: 0; /* Remove any existing top margin */
    padding-top: 60px; /* Add padding to compensate for the navbar height */
    color: whitesmoke; 
        
      
  }
.signupContainer {
    color: azure;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(24, 77, 104, 0.8); /* Adjust the opacity (0.8 in this case) */
    background: linear-gradient(135deg, rgba(24,78,104,0.8) 65%, rgba(87,202,133,1) 98%); /* Ensure gradient also has same opacity */
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .signupInput {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signupButton {
    background-color: #1f5997;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .signupButton:hover {
    background-color: #285f9a;
  }
  